
  td, th {
    border: px solid #dddddd;
    text-align: center;
    padding: 10px;
    width: 50% ;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  thead{
    text-align: center;
    font-weight: bold;
  }